.hidden{
    display: none;
}

#bgImage{
    position:absolute;
    left:0;
    top:0;
	max-width:100%;
    min-width:1880px;;
    max-height:1400px;
    min-height:1200px;
    z-index:-5;
    filter: brightness(30%);
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

#login-form{
    text-align: center;
    margin-top: 300px;
}
#login-form input:first-child{
    text-align: center;
    color:white;
    font-size:1.3rem;
    padding: 10px;
    width: 240px;
    background-color: white;
}
button{
    margin-left:20px;
        width:100px;
        height:40px;
        border-radius: 30px;
        border:none;
        background-color:rgba(255,255,255,0.6);
        color: rgb(80,80,80);
        font-size:1rem;
        font-weight: 600;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
        outline: none;
        cursor: pointer;
        transition: all, 0.4s;
}


#todo-form{
    text-align: center;
    margin-top:0px;
}
#todo-form input{
    text-align: center;
    color:white;
    font-size:1rem;
    padding: 10px;
    width: 240px;
    background-color: white;
    margin-bottom:20px;
    margin-top:20px;
}

#clock{
    text-align: center;
    height:260px;
    font-size:8rem;
    margin:10px;
    color:white;    
    padding:-100px;
}

#quotes{
    text-align: center;
    color: white;
    position:fixed;
    bottom:20px;
    margin-left: 36px;
    font-size:0.8rem;
    font-weight: 200;
}

#weather{
    position:fixed;
    top:20px;
    right:36px;
    color:white;
    font-size:0.9rem;
    font-weight: 700;
}